:root {
  --font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --main-color: #ffffff;
  --primary-background-color-theme-dark: #2e2f42;
  --accent-color: #404bbf;
  --primary-text-color-theme-dark: #434455;
  --btn-border-color: #9747ff;
  --secondary-text-color-theme-light: #f4f4fd;
  --btn-border-color-light: #e7e9fc;
  --secondary-text-color-theme-dark: #4d5ae5;
}

body {
  font-family: var(--font-family);
  color: var(--primary-text-color-theme-dark);
  background-color: var(--main-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Header */
.logo-part-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  /* justify-content: space-between; */
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color-theme-dark);
}
.logo-part {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color-theme-dark);
}
.page-nav {
  display: flex;
  align-items: center;
  column-gap: 76px;
}

.menu {
  display: flex;
  /* justify-content: flex-end; */
  column-gap: 40px;
}
.menu-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-background-color-theme-dark);
}
/* .menu-item:not(:last-child) {
  margin-right: 40px;
} */
.menu-list-item:hover,
.menu-list-item:focus {
  color: var(--accent-color);
}
.contact-item-list {
  font-style: normal;
  margin-left: auto;
}
.contact-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}

.contact-mail {
  margin-left: auto;
}

.contact-item:hover,
.contact-item:focus {
  color: var(--accent-color);
}

/* Main Studio*/
.hero-block {
  background-color: var(--primary-background-color-theme-dark);
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}
.order-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-color);
  background-color: var(--secondary-text-color-theme-dark);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  display: block;
  list-style: none;
  /* min-width: 169px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}
.order-btn:hover,
.order-btn:focus {
  background-color: var(--accent-color);
}
/* Section 1 */
.feature-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-background-color-theme-dark);
}
.feature-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
  margin-bottom: 8px;
}
.first-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.first-section-container-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.first-section-container {
  display: flex;
  gap: 24;
  justify-content: space-between;
}

/* Section 2 */
.second-section {
  padding-bottom: 120px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-background-color-theme-dark);
  padding: 0px;
  margin: 0px;
}
.card-item-style {
  box-sizing: border-box;
  border: 1px solid var(--btn-border-color-light);
}
.title-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-top: 72px;
}
/* Section 3 */
.team-card {
  background-color: var(--secondary-text-color-theme-light);
padding-top: 120px;
padding-bottom: 120px;
}
.team {
  background-color: var(--main-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  flex-basis: ((100%-3*24px)/4);
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-background-color-theme-dark);
}
.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}
.team-card-container {
  display: flex;
  /* flex-wrap: wrap; */
  margin-top: 72px;
  gap: 24px; 
}
/* Footer */
.footer-style {
  background-color: var(--primary-background-color-theme-dark);
}
.footer-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
  margin-top: 16px;
  width: 264px;
}
.logo-part-secondary {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color-theme-light);
}
.footer-container {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-direction: column;
  align-items: flex-start;
}
/* Main portfolio */

.main-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color-theme-dark);
  box-sizing: border-box;
  background-color: var(--secondary-text-color-theme-light);
  border: 1px solid var(--btn-border-color-light);
  border-radius: 4px;
}
.main-nav-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  padding-top: 96px;
  padding-bottom: 72px;
}
.first-nav-btn:hover,
.first-nav-btn:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
}
.card-desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-background-color-theme-dark);
}
.card-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}
.card-section {
  padding-top: 72px;
  padding-bottom: 120px;
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}
/* .card-section-item:nth-child(3n + 1) {
  width: calc((100%-48px) / 3);
} */

/* .first-card-section {
  display: flex;
  flex-direction: row;
  width: calc(100%-48px);
  flex-wrap: wrap;
} */
